body {
  background-color: #dfc4a6;
  padding: 10rem;
}

.container {
  width: 500px;
}

#board {
  border: 1px solid black;
  border-bottom: 0px;
  display: inline-block;
}

#board > .row{
  display: flex;
}

#board > .row > .square{
  border-bottom: 1px solid black;
  display: inline-block;
  height: 100px;
  width: 100px;
}

#board > .row > .square.white{
  background-color: #fce7cf;
}

#board > .row > .square.black{
  background-color: #af977b;
}
